<%= turbo_frame_tag dom_id(time_tracker) do %>
  <div class='row my-2'>
    <div class='col-9'>
      <%= time_tracker.topic %>
    </div>
    <div class='col-1'>
      <%= time_tracker.rate_per_hour %>
    </div>
    <div class='col-1'>
      <% if time_tracker.running? %>
        <div data-controller='timer'
            data-timer-start-value='<%= time_tracker.started_at.to_i * 1000 %>'
            data-timer-refresh-interval-value='1000'
      >
          <%= duration_display time_tracker %>
        </div>
      <%else%>
        <%= duration_display time_tracker %>
      <% end %>
    </div>
    <div class='col-1'>
      <% if time_tracker.running? %>
        <%= form_with(model: time_tracker) do |form| %>
          <%= form.hidden_field :status, value: :stopped %>
          <%= form.button :button, type: :submit do %>
            <i class="text-success fas fa-stop"></i>
          <% end %>
        <% end %>
      <%else%>
        <i class="text-danger fas fa-stop"></i>
      <% end %>
    </div>
  </div>
<% end %>
